In [2]:
import pandas as pd

In [6]:
customers_df= pd.read_csv('../data/olist_customers_dataset.csv')
geolocation_df= pd.read_csv('../data/olist_geolocation_dataset.csv')
items_df= pd.read_csv('../data/olist_order_items_dataset.csv')
payments_df= pd.read_csv('../data/olist_order_payments_dataset.csv')
reviews_df= pd.read_csv('../data/olist_order_reviews_dataset.csv')
orders_df= pd.read_csv('../data/olist_orders_dataset.csv')
products_df= pd.read_csv('../data/olist_products_dataset.csv')
sellers_df= pd.read_csv('../data/olist_sellers_dataset.csv')
category_translation_df= pd.read_csv('../data/product_category_name_translation.csv')

#### Data Cleaning

Merge all data fames

In [7]:
df= pd.merge(customers_df, orders_df, on="customer_id", how='inner')
df= df.merge(reviews_df, on="order_id", how='inner')
df= df.merge(items_df, on="order_id", how='inner')
df= df.merge(products_df, on="product_id", how='inner')
df= df.merge(payments_df, on="order_id", how='inner')
df= df.merge(sellers_df, on='seller_id', how='inner')
df= df.merge(category_translation_df, on='product_category_name', how='inner')
df.shape

(115609, 40)

In [8]:
df.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'order_item_id',
       'product_id', 'seller_id', 'shipping_limit_date', 'price',
       'freight_value', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name_english'],
      dtype='object')

Check duplicates

In [9]:
df.duplicated().sum()

0

In [10]:
df.describe()

,customer_zip_code_prefix,review_score,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_installments,payment_value,seller_zip_code_prefix
count,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115608.000000,115608.000000,115608.000000,115608.000000,115609.000000,115609.000000,115609.000000,115609.000000
mean,35061.537597,4.034409,1.194535,120.619850,20.056880,48.766541,785.808198,2.205373,2113.907697,30.307903,16.638477,23.113167,1.093747,2.946233,172.387379,24515.713958
std,29841.671732,1.385584,0.685926,182.653476,15.836184,10.034187,652.418619,1.717771,3781.754895,16.211108,13.473570,11.755083,0.729849,2.781087,265.873969,27636.640968
min,1003.000000,1.000000,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1.000000,0.000000,0.000000,1001.000000
25%,11310.000000,4.000000,1.000000,39.900000,13.080000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,1.000000,1.000000,60.870000,6429.000000
50%,24241.000000,5.000000,1.000000,74.900000,16.320000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,1.000000,2.000000,108.050000,13660.000000
75%,58745.000000,5.000000,1.000000,134.900000,21.210000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,1.000000,4.000000,189.480000,28605.000000
max,99980.000000,5.000000,21.000000,6735.000000,409.680000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,29.000000,24.000000,13664.080000,99730.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    115609 non-null  object
 1   customer_unique_id             115609 non-null  object
 2   customer_zip_code_prefix       115609 non-null  int64
 3   customer_city                  115609 non-null  object
 4   customer_state                 115609 non-null  object
 5   order_id                       115609 non-null  object
 6   order_status                   115609 non-null  object
 7   order_purchase_timestamp       115609 non-null  object
 8   order_approved_at              115595 non-null  object
 9   order_delivered_carrier_date   114414 non-null  object
 10  order_delivered_customer_date  113209 non-null  object
 11  order_estimated_delivery_date  115609 non-null  object
 12  review_id                      115609 non-null  object
 13  review_score                   115609 non-null  int64
 14  review_comment_title           13801 non-null   object
 15  review_comment_message         48906 non-null   object
 16  review_creation_date           115609 non-null  object
 17  review_answer_timestamp        115609 non-null  object
 18  order_item_id                  115609 non-null  int64
 19  product_id                     115609 non-null  object
 20  seller_id                      115609 non-null  object
 21  shipping_limit_date            115609 non-null  object
 22  price                          115609 non-null  float64
 23  freight_value                  115609 non-null  float64
 24  product_category_name          115609 non-null  object
 25  product_name_lenght            115609 non-null  float64
 26  product_description_lenght     115609 non-null  float64
 27  product_photos_qty             115609 non-null  float64
 28  product_weight_g               115608 non-null  float64
 29  product_length_cm              115608 non-null  float64
 30  product_height_cm              115608 non-null  float64
 31  product_width_cm               115608 non-null  float64
 32  payment_sequential             115609 non-null  int64
 33  payment_type                   115609 non-null  object
 34  payment_installments           115609 non-null  int64
 35  payment_value                  115609 non-null  float64
 36  seller_zip_code_prefix         115609 non-null  int64
 37  seller_city                    115609 non-null  object
 38  seller_state                   115609 non-null  object
 39  product_category_name_english  115609 non-null  object
dtypes: float64(10), int64(6), object(24)
memory usage: 35.3+ MB

Identify misisng values

In [13]:
df.isna().sum()

customer_id                           0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
order_id                              0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    14
order_delivered_carrier_date       1195
order_delivered_customer_date      2400
order_estimated_delivery_date         0
review_id                             0
review_score                          0
review_comment_title             101808
review_comment_message            66703
review_creation_date                  0
review_answer_timestamp               0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_category_name                 0
product_name_lenght                   0
product_description_lenght            0
product_photos_qty                    0
product_weight_g                      1
product_length_cm                     1
product_height_cm                     1
product_width_cm                      1
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
product_category_name_english         0
dtype: int64

Drop unnecessary columns with missing values

In [14]:
df.dropna(subset= ['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date'], inplace=True)

In [15]:
df[['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']][df.product_weight_g.isna()]

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
60893,NaN,NaN,NaN,NaN

In [16]:
df.drop(60893, inplace=True)

In [17]:
df.reset_index(inplace= True, drop= True)

In [19]:
df.head(3)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,1,credit_card,2,146.87,8577,itaquaquecetuba,SP,office_furniture
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,15.0,40.0,1,credit_card,8,335.48,88303,itajai,SC,housewares
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,52.0,17.0,1,credit_card,7,157.73,8577,itaquaquecetuba,SP,office_furniture

#### Feature Engineering

New feature: 
Reclassify categories in 9 main ones

In [20]:
def classify_cat(x):

    categories = {
        'Furniture': ['office_furniture', 'furniture_decor', 'furniture_living_room', 'kitchen_dining_laundry_garden_furniture', 'bed_bath_table', 'home_comfort', 'home_comfort_2', 'home_construction', 'garden_tools', 'furniture_bedroom', 'furniture_mattress_and_upholstery'],
        'Electronics': ['auto', 'computers_accessories', 'musical_instruments', 'consoles_games', 'watches_gifts', 'air_conditioning', 'telephony', 'electronics', 'fixed_telephony', 'tablets_printing_image', 'computers', 'small_appliances_home_oven_and_coffee', 'small_appliances', 'audio', 'signaling_and_security', 'security_and_services'],
        'Fashion': ['fashio_female_clothing', 'fashion_male_clothing', 'fashion_bags_accessories', 'fashion_shoes', 'fashion_sport', 'fashion_underwear_beach', 'fashion_childrens_clothes', 'baby', 'cool_stuff', ],
        'Home & Garden': ['housewares', 'home_confort', 'home_appliances', 'home_appliances_2', 'flowers', 'costruction_tools_garden', 'garden_tools', 'construction_tools_lights', 'costruction_tools_tools', 'luggage_accessories', 'la_cuisine', 'pet_shop', 'market_place'],
        'Entertainment': ['sports_leisure', 'toys', 'cds_dvds_musicals', 'music', 'dvds_blu_ray', 'cine_photo', 'party_supplies', 'christmas_supplies', 'arts_and_craftmanship', 'art'],
        'Beauty & Health': ['health_beauty', 'perfumery', 'diapers_and_hygiene'],
        'Food & Drinks': ['food_drink', 'drinks', 'food'],
        'Books & Stationery': ['books_general_interest', 'books_technical', 'books_imported', 'stationery'],   
        'Industry & Construction': ['construction_tools_construction', 'construction_tools_safety', 'industry_commerce_and_business', 'agro_industry_and_commerce']
    }

    for category, products in categories.items():
        if x in products:
            return category

    return 'Others'

In [21]:
df['product_category'] = df.product_category_name_english.apply(classify_cat)

In [23]:
df['product_category'].value_counts()

product_category
Electronics                29568
Furniture                  28050
Entertainment              13507
Beauty & Health            13283
Home & Garden              12848
Fashion                     9722
Books & Stationery          3427
Industry & Construction     1633
Food & Drinks               1155
Name: count, dtype: int64

In [24]:
df['product_volume'] = df.product_length_cm * df.product_width_cm * df.product_height_cm
df.drop(['product_length_cm', 'product_width_cm', 'product_height_cm'], axis= 1, inplace= True)

In [25]:
df['product_volume'].describe()

count    113193.000000
mean      15305.660253
std       23408.715660
min         168.000000
25%        2856.000000
50%        6612.000000
75%       18468.000000
max      296208.000000
Name: product_volume, dtype: float64

Convert datetime features to proper formatting

In [26]:
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])
df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'])
df['shipping_limit_date'] = pd.to_datetime(df['shipping_limit_date'])
df['order_delivered_carrier_date'] =pd.to_datetime(df['order_delivered_carrier_date'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113193 entries, 0 to 113192
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    113193 non-null  object
 1   customer_unique_id             113193 non-null  object
 2   customer_zip_code_prefix       113193 non-null  int64
 3   customer_city                  113193 non-null  object
 4   customer_state                 113193 non-null  object
 5   order_id                       113193 non-null  object
 6   order_status                   113193 non-null  object
 7   order_purchase_timestamp       113193 non-null  datetime64[ns]
 8   order_approved_at              113193 non-null  object
 9   order_delivered_carrier_date   113193 non-null  datetime64[ns]
 10  order_delivered_customer_date  113193 non-null  datetime64[ns]
 11  order_estimated_delivery_date  113193 non-null  datetime64[ns]
 12  review_id                      113193 non-null  object
 13  review_score                   113193 non-null  int64
 14  review_comment_title           13493 non-null   object
 15  review_comment_message         47359 non-null   object
 16  review_creation_date           113193 non-null  object
 17  review_answer_timestamp        113193 non-null  object
 18  order_item_id                  113193 non-null  int64
 19  product_id                     113193 non-null  object
 20  seller_id                      113193 non-null  object
 21  shipping_limit_date            113193 non-null  datetime64[ns]
 22  price                          113193 non-null  float64
 23  freight_value                  113193 non-null  float64
 24  product_category_name          113193 non-null  object
 25  product_name_lenght            113193 non-null  float64
 26  product_description_lenght     113193 non-null  float64
 27  product_photos_qty             113193 non-null  float64
 28  product_weight_g               113193 non-null  float64
 29  payment_sequential             113193 non-null  int64
 30  payment_type                   113193 non-null  object
 31  payment_installments           113193 non-null  int64
 32  payment_value                  113193 non-null  float64
 33  seller_zip_code_prefix         113193 non-null  int64
 34  seller_city                    113193 non-null  object
 35  seller_state                   113193 non-null  object
 36  product_category_name_english  113193 non-null  object
 37  product_category               113193 non-null  object
 38  product_volume                 113193 non-null  float64
dtypes: datetime64[ns](5), float64(8), int64(6), object(20)
memory usage: 33.7+ MB

Extract estimated and actual delivery duration in days

Extract shipping days

In [74]:
df['estimated_days_since_purchase'] = (df['order_estimated_delivery_date'] - df['order_purchase_timestamp']).dt.days

In [75]:
df['estimated_days_since_purchase']

0         19
1         24
2         24
3         27
4         16
          ..
113188    17
113189    15
113190    23
113191    31
113192    19
Name: estimated_days_since_purchase, Length: 113135, dtype: int64

In [64]:
df['arrival_days'] = (df['order_delivered_customer_date'] - df['order_purchase_timestamp']).dt.days
df['arrival_days'].unique()

array([  8,  16,  26,  14,  11,  13,   1,   5,  19,   7,   9,   3,  30,
         6,  10,  12,  29,  23,  31,   4,  21,  18,  39,   2,  15,  48,
        28,  34,  24,  50,  20,  53,  17,  42,  25,  51,  41,  43,  27,
        44,  49,  73,  37,  40, 103,  57,  38,  22,  84,  33,  68,  32,
        47,  35,  98,  77,  45,  58,  36,  55,  46, 104,  52,  56,  72,
        59, 195, 141,  69,  60, 173, 136, 167,  62,  54,  74,   0,  66,
        64,  65,  76, 135, 142,  78,  63,  75,  86, 138,  96,  70,  88,
        67,  71,  99,  97,  94, 194, 117, 105, 174,  61,  83,  79, 110,
        89, 115,  80, 186,  91,  85, 182, 101, 109, 145, 172,  92, 130,
       187, 181, 131, 189,  81, 148, 126, 143, 108, 188, 132, 191, 175,
        82, 208, 165, 166, 106,  87, 168, 133, 107,  90, 124, 100, 118])

In [65]:
df['shipping_days'] = (df['order_delivered_customer_date'] - df['order_delivered_carrier_date']).dt.days
df['shipping_days'].unique()

array([  1,  13,   3,   0,  10,   9,   7,   2,  17,   8,   5,  25,   4,
         6,  27,  15,  14,  11,  12,  16,  18,  26,  42,  19,  48,  30,
        51,  39,  23,  50,  40,  21,  41,  20,  43,  67,  34, 100,  56,
        36,  37,  22,  28,  31,  33,  24,  66,  32,  29,  97,  35,  44,
       104,  54,  68,  45,  55, 188,  38, 132,  46,  47,  63,  58, 167,
        53,  49, 134,  99,  72, 166,  -2,  62,  60,  65,  52,  82,  59,
        75, 130, 139,  77,  57,  69,  83, 136,  89,  64,  91,  96,  70,
        71,  -1, 194, 111, 103, 172,  78,  61,  84, 110, 178, 181,  86,
        -8,  76, 180,  93,  79,  -6, 101, 143,  -3, 169,  -5,  73,  92,
       127, 182, 128, 186,  94,  98, 145, 123,  80, 106, 187, 129, 157,
       171, 205, 190, 162,  -7, 165, 138,  95, 102,  74,  87, 122, -17,
       117])

Drop inconsistent dates where "order_delivered_carrier_date" is greater than "order_delivered_customer_date"¶

In [66]:
df.drop((df[df.shipping_days < 0]).index, inplace=True)

In [76]:
df[['estimated_days_since_purchase', 'arrival_days', 'shipping_days']].describe()

       estimated_days_since_purchase   arrival_days  shipping_days
count                  113135.000000  113135.000000  113135.000000
mean                       23.469855      11.979626       8.721280
std                         8.825454       9.362979       8.537984
min                         2.000000       0.000000       0.000000
25%                        18.000000       6.000000       4.000000
50%                        23.000000      10.000000       7.000000
75%                        28.000000      15.000000      11.000000
max                       155.000000     208.000000     205.000000

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113135 entries, 0 to 113192
Data columns (total 42 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    113135 non-null  object
 1   customer_unique_id             113135 non-null  object
 2   customer_zip_code_prefix       113135 non-null  int64
 3   customer_city                  113135 non-null  object
 4   customer_state                 113135 non-null  object
 5   order_id                       113135 non-null  object
 6   order_status                   113135 non-null  object
 7   order_purchase_timestamp       113135 non-null  datetime64[ns]
 8   order_approved_at              113135 non-null  object
 9   order_delivered_carrier_date   113135 non-null  datetime64[ns]
 10  order_delivered_customer_date  113135 non-null  datetime64[ns]
 11  order_estimated_delivery_date  113135 non-null  datetime64[ns]
 12  review_id                      113135 non-null  object
 13  review_score                   113135 non-null  int64
 14  review_comment_title           13493 non-null   object
 15  review_comment_message         47324 non-null   object
 16  review_creation_date           113135 non-null  object
 17  review_answer_timestamp        113135 non-null  object
 18  order_item_id                  113135 non-null  int64
 19  product_id                     113135 non-null  object
 20  seller_id                      113135 non-null  object
 21  shipping_limit_date            113135 non-null  datetime64[ns]
 22  price                          113135 non-null  float64
 23  freight_value                  113135 non-null  float64
 24  product_category_name          113135 non-null  object
 25  product_name_lenght            113135 non-null  float64
 26  product_description_lenght     113135 non-null  float64
 27  product_photos_qty             113135 non-null  float64
 28  product_weight_g               113135 non-null  float64
 29  payment_sequential             113135 non-null  int64
 30  payment_type                   113135 non-null  object
 31  payment_installments           113135 non-null  int64
 32  payment_value                  113135 non-null  float64
 33  seller_zip_code_prefix         113135 non-null  int64
 34  seller_city                    113135 non-null  object
 35  seller_state                   113135 non-null  object
 36  product_category_name_english  113135 non-null  object
 37  product_category               113135 non-null  object
 38  product_volume                 113135 non-null  float64
 39  estimated_days                 113135 non-null  int64
 40  arrival_days                   113135 non-null  int64
 41  shipping_days                  113135 non-null  int64
dtypes: datetime64[ns](5), float64(8), int64(9), object(20)
memory usage: 37.1+ MB

Create shipping + arrival statuses based on early or late

In [71]:
df['seller_to_carrier_status'] = (df['shipping_limit_date'] - df['order_delivered_carrier_date']).dt.days
df['seller_to_carrier_status'] = df['seller_to_carrier_status'].apply(lambda x : 'OnTime' if x >= 0 else 'Late')
df['seller_to_carrier_status'].value_counts()

seller_to_carrier_status
OnTime    102767
Late       10368
Name: count, dtype: int64

In [72]:
df['arrival_status'] = (df['order_estimated_delivery_date'] - df['order_delivered_customer_date']).dt.days
df['arrival_status'] = df['arrival_status'].apply(lambda x : 'OnTime' if x >= 0 else 'Late')
df['arrival_status'].value_counts()

arrival_status
OnTime    104421
Late        8714
Name: count, dtype: int64

Conv